<div class = 'title'>Settings</div>
<div class = 'soundWrapper' style = "float: right; display: inline-block; height: 300px;">
  <div class = 'button music'>Music {{music}}</div>
  <div class = 'button effects'>Sound Effects {{effects}}</div>
</div>
<div class = 'controlWrapper' style = "float: left; display: inline-block; height: 300px; width: 300px">
  <div class = 'text' style = 'float: left;'>Up</div>
  <div class = 'text' style = 'float: left;'>Down</div>
  <div class = 'text' style = 'float: left;'>Left</div>
  <div class = 'text' style = 'float: left;'>Right</div>

  <div class = 'keyInput' style = 'float: right;'>TEST</div>
  <div class = 'keyInput' style = 'float: right;'>TEST</div>
  <div class = 'keyInput' style = 'float: right;'>TEST</div>
  <div class = 'keyInput' style = 'float: right;'>TEST</div>
</div>
<div class = 'button back'>Back</div>